* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --left-banner-width: 33vw;
    --form-height: 34vh;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
}

#left-banner {
    background: url("assets/background.jpg");
    width: var(--left-banner-width);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}    

#image-ref {
    padding: 1rem;
    color: white;
    position: absolute;
    bottom: 0;
    line-height: 1; 
}

#image-ref a {
    color: white;
    text-decoration: underline;
}

#banner {
    width: var(--left-banner-width);
    height: 100px;
    background-color: rgba(138, 43, 226, 0.4);
    position: absolute;
    top: 10%;
    box-shadow: inset 0 0 10px rgb(26, 0, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner > h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
}

#right-side {
    width: calc(100% - var(--left-banner-width));
    height: 100vh;
    background-color: rgb(26, 0, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-header {
    justify-content: flex-end;
    padding-bottom: 2rem;
}

#form-footer {
    justify-content: flex-start;
    padding-top: 2rem;    
}

#form-header > p {
    color: white;
    font-size: 1.8rem;
    padding: 0px 96px;
}

#form-footer, #form-header {
    height: calc(0.5 * (100vh - var(--form-height)));
    display: flex;
    flex-direction: column;
}

form {
    background-color: rgba(255, 230, 255, 0.4);
    height: var(--form-height);
}